/*============  variables =======*/
body {
  font-family: "Lato", sans-serif;
  color: #5a5a5a;
  font-size: 16px;
  line-height: calc(35 / 16);
}

a {
  color: #5a5a5a;
}

.h2 {
  font-size: 50px;
  color: #3677fd;
  font-weight: 300;
}

.coockie {
  background: #194277;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.section {
  padding: 20px 0 70px;
}

.header {
  background-image: url(../images/bg_img1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 67px;
}
.header__row {
  justify-content: flex-end;
}
.header__img {
  display: block;
  margin: 0 auto;
}
.header__title {
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}
.header__subtitle {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding-bottom: 75px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .header__subtitle {
    padding-bottom: 30px;
  }
}
.header__btn {
  background-color: #fff;
  max-width: 200px;
  min-height: 55px;
  color: #3677fd;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 90px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__btn {
    margin-bottom: 40px;
  }
}
.header__arrow {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
}
@media (max-width: 1200px) {
  .header__arrow {
    padding-top: 0;
  }
}

.btn-primary {
  padding-top: 30px;
}

/*Modal start*/
.modal__wrap {
  padding: 60px 140px;
  position: relative;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .modal__wrap {
    padding: 60px 40px;
  }
}

.modal__header {
  display: inline-flex;
  border-bottom: none;
}

.modal-dialog__title {
  color: #3677fd;
  display: block;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  width: 100%;
  margin-top: 0;
}

.modal__btn {
  color: #3677fd;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: 300px;
  top: -10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  height: 45px;
  border: 1px solid #B7C0C9;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 20px;
}

.form__input::placeholder {
  color: #B7C0C9;
  font-size: 16px;
}

.form__input:last-child {
  height: 180px;
}

.modal__footer {
  border-top: none;
}

.footer__btn {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #3677fd;
  border-radius: 50px;
  height: 55px;
  width: 200px;
}

/*Modal end*/
.expert {
  background: #f1f8ff;
  padding: 20px 40px;
}
.expert__item {
  text-align: center;
  margin-bottom: 50px;
}
.expert__icon {
  border: 1px solid #b7c0c9;
  border-radius: 50%;
  padding: 15px;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.expert__title {
  font-size: 24px;
  font-weight: 700;
  color: #3677fd;
}

.work__item {
  padding: 30px 40px 0 40px;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-bottom: 50px;
}
.work__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.clients__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.clients__item:hover .clients__img {
  filter: grayscale(0%);
  opacity: 1;
}
.clients__img {
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.35;
  transition: all 0.5s;
}

.footer1 {
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.footer1__title {
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}

.button__foot {
  width: 200px;
  height: 55px;
  margin-top: 30px;
  color: #3677fd;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
}

.footer__subtitle {
  font-weight: bold;
}
/*# sourceMappingURL=custom.css.map */