@import "../libs/normalize.css";

/* ========== bootstrap variables =====*/

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: (
            $spacer * 0.25,
        ),
        2: (
            $spacer * 0.5,
        ),
        3: $spacer,
        4: (
            $spacer * 1.5,
        ),
        5: (
            $spacer * 3,
        ),
        g: 15px,
    ),
    $spacers
);

@import "../libs/bootstrap/scss/bootstrap-grid.scss";
@import "../libs/bootstrap/scss/utilities/flex";
@import "../libs/bootstrap/scss/utilities/spacing";
@import "../libs/bootstrap/scss/mixins/transition";
@import "../libs/bootstrap/scss/mixins/border-radius";
@import "../libs/bootstrap/scss/mixins/box-shadow";
@import "../libs/bootstrap/scss/modal";

button {
    background: transparent;
    border: none;
}

.text-center {
    text-align: center;
}
