/*============  variables =======*/
$text-color: #5a5a5a;
$text-light: #fff;
$main-color: #3677fd;

body {
    font-family: "Lato", sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: calc(35 / 16);
}
a {
    color: $text-color;
}

.h2 {
    font-size: 50px;
    color: $main-color;
    font-weight: 300;
}

.coockie {
    background: #194277;
    color: $text-light;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover {
    cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}
.section {
    padding: 20px 0 70px;
}
.header {
    background: $main-color;
    &__row {
        justify-content: flex-end;
    }
}
.expert {
    background: #f1f8ff;
    padding: 20px 40px;
    &__item {
        text-align: center;
        margin-bottom: 50px;
    }
    &__icon {
        border: 1px solid #b7c0c9;
        border-radius: 50%;
        padding: 15px;
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $main-color;
    }
}
